/cmake-build-debug/
/cmake-build-debug-coverage/
/.idea/
/CMakeFiles/
/.ninja_deps
/.ninja_log
/build.ninja
/.cmake/api/v1/query/cache-v2
/.cmake/api/v1/reply/cache-v2-d843637858f4cb4cfd10.json
/cmake_install.cmake
/CMakeCache.txt
/.cmake/api/v1/query/cmakeFiles-v1
/.cmake/api/v1/reply/cmakeFiles-v1-22a4bc7646fe8ae9768f.json
/.cmake/api/v1/query/codemodel-v2
/.cmake/api/v1/reply/codemodel-v2-2257744672ed5ec64ffd.json
/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/.cmake/api/v1/reply/index-2022-10-04T18-58-43-0740.json
/Testing/Temporary/LastTest.log
/.cmake/api/v1/reply/target-assembler-Debug-14bc70b2470babb9267b.json
/.cmake/api/v1/reply/target-cpu-Debug-32aeb7d8c067b9fdd87d.json
/.cmake/api/v1/reply/target-disassembler-Debug-9ed4090d4d2ba9f5de73.json
/.cmake/api/v1/reply/target-main-Debug-e8408c29955f6a41e710.json
/.cmake/api/v1/reply/target-stack-Debug-79fd41661ae6ac40d265.json
/.cmake/api/v1/query/toolchains-v1
/.cmake/api/v1/reply/toolchains-v1-69b7d7f2ca37a5dd8e5b.json
